{{!-- {{title}}<br />
<br />
<a href="{{wikipedia}}">{{wikipedia}}</a> --}}
<ul class="list-group">
  <li class="list-group-item">{{title}}<br /><a
      href="{{wikipedia}}"
    >{{wikipedia}}</a></li>
  {{!-- <li class="list-group-item"><a href="{{wikipedia}}">{{wikipedia}}</a></li> --}}

</ul>